.breadcrumbs {
	padding: 0.75rem 0;
	@media (min-width: $md4) {
		padding: 1.62rem 0;
	}

	// .breadcrumbs__container
	&__container {
		padding: 0 2rem;
	}
	// .breadcrumbs__list
	&__slider {
		color: #919191;
		font-weight: 500;
		overflow: visible;
		font-size: 0.875rem;
		@media (min-width: $md5) {
			font-size: 1rem;
		}
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .breadcrumbs__item
	&__item {
		display: inline-flex;
		align-items: center;
		width: fit-content;
		gap: 0.5rem;

		&:not(:last-child) {
			&::before {
				order: 1;
				font-size: 0.45rem;
				display: flex;
				justify-content: center;
				align-items: center;
				@extend %ic, .icon-chevron;
				flex-shrink: 0;
				transform: rotate(-90deg);
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: color 0.3s ease 0s;
		white-space: nowrap;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (any-hover: hover) {
			&:hover {
				color: #30475d;
			}
		}

		&.active {
			pointer-events: none;
			color: #30475d;
		}
	}
}
