.breadcrumbs {
	padding: 1.62rem 0;

	// .breadcrumbs__container
	&__container {
	}
	// .breadcrumbs__list
	&__list {
		display: flex;
		align-items: center;
		color: #919191;
		font-size: 1.25rem;
		font-weight: 500;
		gap: 0.5rem;
	}
	// .breadcrumbs__item
	&__item {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		&::before {
		}
		&:not(:last-child) {
			&::before {
				order: 1;
				font-size: 0.45rem;
				display: flex;
				justify-content: center;
				align-items: center;
				@extend %ic, .icon-chevron;
				flex-shrink: 0;
				transform: rotate(-90deg);
			}
		}
	}
	// .breadcrumbs__link
	&__link {
		transition: color 0.3s ease 0s;
		white-space: nowrap;
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (any-hover: hover) {
			&:hover {
				color: #30475d;
			}
		}

		&.active {
			pointer-events: none;
			color: #30475d;
		}
	}
}
