.promo {
	background: url("@img/promo-background.jpg") center 0 / cover no-repeat;
	padding-top: calc($header + 5rem);
	// .promo__container
	&__container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		align-items: center;
	}
	// .promo__offer
	&__offer {
		padding-right: 3rem;
	}
	// .promo__main
	&__main {
		border-left: rem(1) solid #007adc;
		padding-left: 0.75rem;
		padding-top: 1.22rem;
		padding-bottom: 1.22rem;
	}
	// .promo__title
	&__title {
	}
	// .promo__subtitle
	&__subtitle {
		margin-top: 1.25rem;
		font-size: 1.5rem;
		& span {
			font-weight: 600;
			color: #007adc;
		}
	}
	// .promo__benefits
	&__benefits {
		display: flex;
		gap: 4.75rem;
	}
	// .promo__benefit
	&__benefit {
		margin-top: 3rem;
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
	// .promo__benefit-icon
	&__benefit-icon {
		width: 3.9375rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}
	// .promo__benefit-text
	&__benefit-text {
		color: #30475d;
		font-size: 1.5rem;
	}
	// .promo__btn
	&__btn {
		margin-top: 3rem;
	}
	// .promo__image
	&__image {
		margin-right: -2.5rem;
		margin-left: -0.75rem;
	}
}

.services {
	padding: rem(80) 0 rem(45);
	// .services__container
	&__container {
	}
	// .services__title
	&__title {
		text-align: center;
	}
	// .services__list
	&__list {
		margin-top: 3.12rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 1.25rem;
	}
}

.service-card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 1.25rem;
	background: #fff;
	box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
	padding: 1.75rem 0.75rem;
	height: auto;
	// .service-card__image
	&__image {
		border-radius: 0.75rem;
		height: 0;
		width: 100%;
		overflow: hidden;
		position: relative;
		padding-bottom: 56.25%;
		& img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	// .service-card__name
	&__name {
		margin-top: 1.25rem;
		color: #30475d;
		font-size: 1.5rem;
		font-weight: 600;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .service-card__desc
	&__desc {
		margin-top: 0.75rem;
		color: #30475d;
		font-size: 1.125rem;
		margin-bottom: auto;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		overflow: hidden;
		-webkit-line-clamp: 2;
	}
	// .service-card__btn
	&__btn {
		margin-top: 2rem;
		width: 100%;
	}
	// .service-card__footer
	&__footer {
		margin-top: 2rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .service-card__socials
	&__socials {
		gap: 0.75rem;
	}
	// .service-card__social
	&__social {
	}
	// .service-card__callback
	&__callback {
		border: rem(1) solid #30475d;
		color: #30475d;
		font-size: 1.25rem;
		font-weight: 600;
		text-transform: uppercase;
		padding: 0.5rem 0.6rem;
		border-radius: 0.75rem;
	}
	&__logo {
		text-align: center;
		align-self: center;
	}
	&__title {
		margin-top: 0.75rem;
		color: #007adc;
		text-align: center;
		font-size: 1.25rem;
		font-weight: 600;
		padding: 0 1rem;
	}
	// .service-card__picture
	&__picture {
	}
}

.reviews {
	padding: rem(50) 0 rem(90);
	// .reviews__container
	&__container {
	}
	// .reviews__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .reviews__title
	&__title {
	}
	// .reviews__actions
	&__actions {
		display: flex;
		gap: 2rem;
	}
	// .reviews__btn
	&__btn {
		padding-inline: 3.75rem;
	}
	// .reviews__controls
	&__controls {
		display: flex;
		align-items: center;
		gap: 1.25rem;
	}
	// .reviews__prev
	&__prev {
	}
	// .reviews__next
	&__next {
	}
	// .reviews__slider
	&__slider {
		margin-top: rem(26);
		padding: rem(24) rem(8);
		margin-left: rem(-8);
		margin-right: rem(-8);
	}
	// .reviews__more
	&__more {
		margin-top: 2.13rem;
	}
	// .reviews__more-title
	&__more-title {
		color: #30475d;
		font-size: 1.5rem;
		font-weight: 600;
	}
	// .reviews__more-subtitle
	&__more-subtitle {
		margin-top: 1.25rem;
		color: #30475d;
		font-size: 1.125rem;
	}
	// .reviews__more-slider
	&__more-slider {
		margin-top: 1.375rem;
		padding: rem(8);
		margin-left: rem(-8);
		margin-right: rem(-8);
	}
	// .reviews__company
	&__company {
		border-radius: 0.75rem;
		background: #fff;
		box-shadow: rem(4) rem(4) rem(4) 0 rgba(0, 0, 0, 0.06);
		display: flex;
		align-items: center;
		gap: 1rem;
		padding: 0.62rem 1rem 0.62rem 1.12rem;
		height: auto;
	}
	// .reviews__company-logo
	&__company-logo {
		width: 3.125rem;
		height: 3.125rem;
		flex-shrink: 0;
	}
	// .reviews__company-info
	&__company-info {
	}
	// .reviews__company-rate
	&__company-rate {
		color: #232323;
		font-size: 1.5rem;
		font-weight: 500;
	}
	// .reviews__company-name
	&__company-name {
		color: #919191;
		display: flex;
		align-items: center;
		&::before {
			order: 1;
			font-size: 0.5rem;
			margin-left: 0.5rem;
		}
		font-size: 0.875rem;
	}
	// .reviews__more-pagination
	&__more-pagination {
		position: static;
		margin-top: 2rem;
	}
}

.review {
	border-radius: 0.75rem;
	background: #fff;
	box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
	padding: 1.875rem 1.25rem 1rem;
	display: flex;
	flex-direction: column;
	height: auto;
	// .review__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: rem(1) solid #efefef;
		padding-bottom: 1.125rem;
	}
	// .review__header-column
	&__header-column {
	}
	// .review__rate
	&__rate {
		display: flex;
	}
	// .review__author
	&__author {
		margin-top: 0.75rem;
		color: #30475d;
		font-size: 1.5rem;
		font-weight: 600;
	}
	// .review__place
	&__place {
		margin-top: 0.25rem;
		display: flex;
		align-items: center;
		gap: 1rem;
		border-radius: 0.75rem;
		background: #fff;
		box-shadow: rem(4) rem(4) rem(4) 0 rgba(0, 0, 0, 0.06);
		padding: 0.62rem 1.45rem;
		&:has(.review__place-icon) {
			flex-direction: column;
			color: rgba(35, 35, 35, 0.15);
			font-size: 1.125rem;
			gap: 0;
			background: transparent;
			box-shadow: none;
			padding: 0;
		}
	}
	// .review__place-logo
	&__place-logo {
		flex-shrink: 0;
	}
	// .review__place-body
	&__place-body {
	}
	// .review__place-value
	&__place-value {
		color: #232323;
		font-size: 1.5rem;
		font-weight: 500;
	}
	// .review__place-link
	&__place-link {
		color: #919191;
		font-size: 0.875rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		&::before {
			order: 1;
			font-size: 0.5rem;
		}
	}
	// .review__quote
	&__quote {
		margin-top: 1.25rem;
		color: #30475d;
		font-size: 1.125rem;
	}
	// .review__place-icon
	&__place-icon {
	}
	// .review__place-text
	&__place-text {
		margin-top: -0.5rem;
	}
}
