.service {
	padding: 1.75rem 0;
	// .service__container
	&__container {
		padding: 0 2rem;
		@media (min-width: $md2) {
			display: flex;
			gap: 1.25rem;
		}
	}
	// .service__sidebar
	&__sidebar {
		display: none;
		@media (min-width: $md2) {
			display: block;
			flex: 0 0 18.4375rem;
		}
	}
	// .service__navbar
	&__navbar {
		border-radius: 0.75rem;
		background: #fff;
		color: $text;
		box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
		padding: 1.25rem;
		width: 100%;
		max-width: rem(576);
		position: relative;
	}
	// .service__navbar-close
	&__navbar-close {
		position: absolute;
		top: 1.25rem;
		right: 1.25rem;
		font-size: 1.5rem;
		color: #919191;
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .service__caption
	&__caption {
	}
	// .service__list
	&__list {
		margin-top: 1.25rem;
	}
	// .service__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 1.2rem;
			padding-bottom: 1.2rem;
			border-bottom: rem(1) solid #efefef;
		}
	}
	// .service__item-caption
	&__item-caption {
		font-size: 1.25rem;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		&::before {
			@extend %ic, .icon-chevron;
			order: 1;
			font-size: 1rem;
			transform: rotate(-90deg);
			transition: transform 0.3s ease;
		}
		&._active {
			&::before {
				transform: rotate(90deg);
			}
		}
	}
	// .service__categories
	&__categories {
		margin-top: 0.75rem;
	}
	// .service__categories-item
	&__categories-item {
		&:not(:last-child) {
			margin-bottom: 0.45rem;
		}
	}
	// .service__categories-link
	&__categories-link {
		font-size: 1.25rem;
	}
	// .service__block
	&__block {
		display: none;
		@media (min-width: $md2) {
			display: block;
			margin-top: 3.13rem;
		}
	}
	// .service__cards
	&__cards {
		margin-top: 1.25rem;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
	}
	// .service__content
	&__content {
		flex: 1 1 auto;
		min-width: 0;
	}
	// .service__card
	&__card {
		display: flex;
		flex-direction: column;
		gap: rem(10);
		@media (min-width: $md3) {
			flex-direction: row;
			gap: 1.25rem;
			padding: 0 0 3.5rem 0;
		}
	}
	// .service__slider
	&__slider {
		order: -1;
		min-width: 0;
		margin-top: rem(10);
		@media (min-width: $md3) {
			flex: 0 0 25rem;
			margin-top: 0;
		}
	}
	// .service__slider-main
	&__slider-main {
		height: 16.75rem;
		@media (min-width: $md4) {
			height: 25.0625rem;
		}
		display: flex;
		border-radius: 0.75rem;
		overflow: hidden;
	}
	// .service__slide
	&__slide {
		border-radius: 0.75rem;
		overflow: hidden;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 0.75rem;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
			z-index: 2;
			pointer-events: none;
		}
		&::before {
			@extend %ic, .icon-zoom;
			position: absolute;
			color: #fff;
			bottom: 1.25rem;
			right: 1.25rem;
			font-size: 1.75rem;
			z-index: 3;
			pointer-events: none;
		}
	}
	// .service__slider-bottom
	&__slider-bottom {
		margin-top: 0.5rem;
		@media (min-width: $md4) {
			margin-top: 1.28rem;
		}
		display: flex;
		gap: 0.72rem;
	}
	// .service__prev
	&__prev {
		@media (max-width: $md4) {
			display: none;
		}
		width: 2.375rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #efefef;
		color: #919191;
		padding: 0.5rem;
		border-radius: rem(6);
		font-size: 1.5rem;
		&::before {
			transform: rotate(180deg);
		}
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #efefef, $amount: 10);
			}
		}
		&.swiper-button-disabled {
			pointer-events: none;
			opacity: 0.25;
		}
	}
	// .service__next
	&__next {
		@media (max-width: $md4) {
			display: none;
		}
		width: 2.375rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #efefef;
		color: #919191;
		padding: 0.5rem;
		border-radius: rem(6);
		font-size: 1.5rem;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background: darken($color: #efefef, $amount: 10);
			}
		}
		&.swiper-button-disabled {
			pointer-events: none;
			opacity: 0.25;
		}
	}
	// .service__slider-thumbs
	&__slider-thumbs {
	}
	// .service__thumb
	&__thumb {
		position: relative;
		height: 4.9375rem;
		@media (min-width: $md5) {
			height: rem(80);
		}
		cursor: pointer;
		display: block;
		& img {
			border-radius: 0.75rem;
			height: 100%;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, 0.5);
		}
		&.swiper-slide-thumb-active {
			&::before {
				opacity: 0;
			}
		}
	}
	// .service__main
	&__main {
		display: contents;
		@media (min-width: $md3) {
			display: block;
			flex: 1 1 auto;
		}
	}
	// .service__title
	&__title {
		order: -2;
		@media (max-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .service__row
	&__row {
		order: -2;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media (min-width: $md3) {
			margin-top: 1.25rem;
		}
	}
	// .service__filter
	&__filter {
		width: 3.125rem;
		height: 3.125rem;
		padding: 1rem 0.875rem;
		border-radius: 0.375rem;
		background: #fff;
		color: $accent;
		font-size: 1.25rem;
		display: flex;
		justify-content: center;
		align-items: center;
		box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .service__rate
	&__rate {
	}
	// .service__desc
	&__desc {
		color: #30475d;
		font-size: 0.875rem;
		margin-top: rem(10);
		@media (min-width: $md5) {
			margin-top: 1.125rem;
			line-height: 1.2;
			font-size: 1.25rem;
		}
	}
	// .service__more
	&__more {
		color: #007adc;
		margin-bottom: 2.56rem;
		display: inline-block;
		font-size: 0.875rem;
		margin-top: rem(10);
		@media (min-width: $md5) {
			margin-top: 1.25rem;
			font-size: 1.25rem;
		}
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
	// .service__info
	&__info {
		display: contents;
		@media (min-width: $md5) {
			margin-top: auto;
			display: grid;
			grid-auto-rows: 1fr;
			gap: 0.69rem;
			row-gap: 1.06rem;
		}
		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: 1fr;
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .service__info-item
	&__info-item {
		&:not(:first-child) {
			margin-top: rem(20);
			@media (min-width: $md4) {
				margin-top: 0;
			}
		}
		display: flex;
		align-items: center;
		gap: 0.75rem;
		padding: 0.5rem;
		background: #fff;
		border-radius: 0.375rem;
		box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
	}
	// .service__info-icon
	&__info-icon {
		width: 3.0625rem;
		@media (min-width: $md4) {
			width: 3.8125rem;
		}
	}
	// .service__info-body
	&__info-body {
		display: flex;
		flex-direction: column;
		font-size: 1rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .service__info-caption
	&__info-caption {
	}
	// .service__info-value
	&__info-value {
		font-weight: 600;
	}
	// .service__info-more
	&__info-more {
		position: relative;
		flex-shrink: 0;
		margin-left: auto;
		align-self: flex-start;
	}
	// .service__info-btn
	&__info-btn {
		color: #007adc;
		font-size: 1.75rem;
		font-weight: 600;
	}
	// .service__popup
	&__popup {
		position: absolute;
		top: -1rem;
		right: -1rem;
		width: fit-content;
		min-width: calc(100vw - 1.5rem);
		@media (min-width: $md6) {
			min-width: 21.625rem;
		}
		border-radius: 0.75rem;
		padding: 1.25rem 0.75rem;
		background: #fff;
		box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
		display: none;
		z-index: 4;
		&.active {
			display: block;
		}
	}

	// .service__popup-header
	&__popup-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
	}
	// .service__popup-title
	&__popup-title {
		color: #30475d;
		font-size: 1.125rem;
		font-weight: 600;
	}
	// .service__popup-close
	&__popup-close {
		font-size: 1.5rem;
		color: #919191;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .service__popup-list
	&__popup-list {
		margin-top: 1.25rem;
	}
	// .service__popup-row
	&__popup-row {
		display: flex;
		justify-content: space-between;
		font-size: 1.125rem;
		&:not(:last-child) {
			padding-bottom: 0.75rem;
			border-bottom: rem(1) solid #efefef;
			margin-bottom: 0.75rem;
		}
	}
	// .service__popup-service
	&__popup-service {
	}
	// .service__popup-price
	&__popup-price {
		font-weight: 600;
		text-align: right;
		color: $accent;
		font-size: 1.25rem;
	}
	// .service__popup-text
	&__popup-text {
		margin-top: 1.25rem;
		font-size: 0.875rem;
		font-weight: 600;
	}
	&__popup-desc {
		margin-top: 1rem;
	}
	// .service__info-socials
	&__info-socials {
		margin-top: 1.5rem;
		@media (min-width: $md4) {
			margin-top: 0;
			order: 0;
			grid-template-columns: repeat(2, 1fr);
		}
		grid-template-columns: repeat(3, 1fr);
		display: grid;
		gap: 0.5rem;
		order: -1;
	}
	// .service__info-social
	&__info-social {
		border-radius: 0.375rem;
		color: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 0.75rem;
		padding: 0.81rem;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
		transition: opacity 0.3s ease;
		background: linear-gradient(180deg, #007adc 0%, #0371c9 100%);
		&.icon-telegram {
			&::before {
				font-size: 1.45rem;
			}
			background: linear-gradient(180deg, #43bcf7 0%, #27a3df 100%);
		}
		&.icon-whatsapp {
			&::before {
				font-size: 1.65rem;
			}
			background: linear-gradient(180deg, #5bf877 0%, #2cd44a 100%);
		}
		&::before {
			font-size: 1.5rem;
		}
		&.icon-phone {
			@media (min-width: $md4) {
				display: none;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

.tabs {
	padding: rem(30) 0;
	@media (min-width: $md4) {
		padding: rem(60) 0;
	}
	// .tabs__btns
	&__btns {
		border-radius: 0.75rem;
		background: #fff;
		box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
		overflow: visible;
		@media (min-width: $md4) {
			overflow: hidden;
		}
	}
	// .tabs__btn
	&__btn {
		color: #30475d;
		font-size: 1rem;
		padding: 0.75rem;
		border-radius: 0.75rem;
		@media (min-width: $md4) {
			border-radius: 0;
			padding: 1.06rem;
			font-size: 1.5rem;
		}
		font-weight: 600;
		background: #fff;
		width: auto;
		flex: 1 1 auto;
		white-space: nowrap;
		&.active {
			background: #007adc;
			color: #fff;
		}
	}
	// .tabs__body
	&__body {
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 3.12rem;
		}
	}
	// .tabs__content
	&__content {
		display: none;
		&.active {
			display: block;
		}
		& h2 {
			font-size: 1.5rem;
			&:not(:last-child) {
				margin-bottom: 2rem;
			}
		}
		& p {
			font-size: 0.875rem;
			@media (min-width: $md4) {
				font-size: 1.25rem;
			}
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		& ul {
			font-size: 0.875rem;
			@media (min-width: $md4) {
				font-size: 1.25rem;
			}
			padding-left: 1.25em;
			list-style: disc;
			& li {
				&:not(:last-child) {
					margin-bottom: 1em;
				}
			}
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
		& ol {
			font-size: 0.875rem;
			@media (min-width: $md4) {
				font-size: 1.25rem;
			}
			padding-left: 1.25em;
			list-style: decimal;
			& li {
				&::marker {
					font-weight: 700;
					color: $accent;
				}
				&:not(:last-child) {
					margin-bottom: 1em;
				}
			}
			&:not(:last-child) {
				margin-bottom: 1em;
			}
		}
	}
}

.works {
	padding: rem(30) 0;
	@media (min-width: $md4) {
		padding: rem(40) 0;
	}
	// .works__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .works__title
	&__title {
		@media (max-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .works__controls
	&__controls {
		display: none;
		@media (min-width: $md3) {
			display: flex;
			gap: 1.25rem;
		}
	}
	// .works__prev
	&__prev {
	}
	// .works__slider
	&__slider {
		margin-top: 2rem;
		overflow: visible;
		@media (min-width: $md3) {
			overflow: hidden;
		}
	}
	// .works__slide
	&__slide {
		width: 13.1875rem;
		@media (min-width: $md4) {
			width: 16rem;
		}
		height: 13.3125rem;
		position: relative;
		display: block;
		border-radius: 0.75rem;
		overflow: hidden;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			transition: transform 0.3s ease;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 0.75rem;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
		}
		&::before {
			@extend %ic, .icon-zoom;
			position: absolute;
			bottom: 1rem;
			right: 1rem;
			color: #fff;
			font-size: 1.5rem;
			z-index: 2;
		}
		@media (any-hover: hover) {
			&:hover {
				& img {
					transform: scale(1.025);
				}
			}
		}
	}
}

.faq {
	padding: rem(15) 0 rem(20);
	@media (min-width: $md4) {
		padding: rem(45) 0 rem(40);
	}
	// .faq__title
	&__title {
		@media (max-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .faq__list
	&__list {
		margin-top: 2rem;
		@media (min-width: $md4) {
			margin-top: rem(50);
		}
	}
	// .faq__item
	&__item {
		box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		border-radius: 0.75rem;
		background: #fff;
	}
	// .faq__item-caption
	&__item-caption {
		padding: 0.75rem;
		font-size: 1rem;
		gap: 0.5rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
			padding: 1.25rem 2rem;
		}
		color: #30475d;
		font-weight: 600;
		display: flex;
		justify-content: space-between;
		align-items: center;
		cursor: pointer;
		&::before {
			@extend %ic, .icon-plus;
			width: 2.5625rem;
			height: 2.5625rem;
			flex-shrink: 0;
			order: 1;
			margin-left: auto;
			background: #f9f9f9;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #007adc;
			border-radius: 50%;
			transition: transform 0.3s ease;
			font-size: 1.5rem;
			box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
		}
		&._active {
			&::before {
				@extend %ic, .icon-minus;
				background: #007adc;
				color: #fff;
				transform: rotate(360deg);
			}
		}
	}

	// .faq__item-body
	&__item-body {
		margin: 1.25rem 0 0 0.75rem;
		padding: 0 2rem 1.25rem 1.25rem;
		font-size: 0.875rem;
		@media (min-width: $md4) {
			font-size: 1rem;
			padding: 0 2rem 1.25rem 1.25rem;
			margin: 0.53rem 0 0 2rem;
		}
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: rem(1);
			height: calc(100% - 1.25rem);
			background: #007adc;
		}
	}
}

.more {
	padding: rem(40) 0;
	// .more__header
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .more__title
	&__title {
		@media (max-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .more__controls
	&__controls {
		display: none;
		@media (min-width: $md3) {
			display: flex;
			gap: 1.25rem;
		}
	}
	// .more__prev
	&__prev {
	}
	// .more__next
	&__next {
	}
	// .more__slider
	&__slider {
		overflow: visible;
		margin-top: rem(32);
		@media (min-width: $md3) {
			margin-top: 0.5rem;
			overflow: hidden;
			margin-left: rem(-8);
			margin-right: rem(-8);
			padding: rem(24) rem(8);
		}
		.swiper-slide {
			width: rem(290);
			@media (max-width: $md3) {
				width: rem(268);
			}
		}
	}
}

.prices {
	padding: rem(40) 0;
	// .prices__title
	&__title {
		@media (max-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .prices__table
	&__table {
		margin-top: 2rem;
		table {
			width: 100%;
			font-size: 1rem;
			@media (min-width: $md4) {
				font-size: 1.25rem;
			}
			font-weight: 600;
			& th {
				color: #919191;
				text-align: left;
				&:last-child {
					text-align: right;
				}
			}
			& td {
				padding: 1.25rem 0;
				&:last-child {
					text-align: right;
				}
			}
			& tr {
				&:not(:last-child) {
					border-bottom: rem(1) solid #efefef;
				}
			}
			& a {
				display: inline-flex;
				align-items: center;
				gap: 0.75rem;
				& span {
					border-bottom: rem(1) dashed #919191;
				}
				&::before {
					order: 1;
					color: $accent;
				}
				@media (any-hover: hover) {
					&:hover {
						& span {
							border-color: transparent;
						}
					}
				}
			}
			& tbody {
				& + tbody {
					tr:first-child {
						border-top: rem(1) solid #efefef;
					}
				}
				&.prices__table-hidden {
					display: none;
					width: 100%;
				}
			}
		}
	}
	// .prices__btn
	&__btn {
		margin-top: 0.75rem;
		width: 100%;
		text-transform: none;
	}
}
