<li class="service-card@@if(typeof className !== 'undefined'){ @@className}">
    <a href="" class="service-card__image">
        <img src="@@image" class="cover-image" alt="Фото услуги">
    </a>
    <a href="" class="service-card__name">@@name</a>
    <p class="service-card__desc">@@desc</p>
    <a href="" class="service-card__btn btn btn-primary">Подробнее</a>
    <div class="service-card__footer">
        <div class="service-card__socials socials">
            <a href="" class="socials__link icon-whatsapp"></a>
            <a href="" class="socials__link icon-telegram"></a>
        </div>
        <a href="" class="service-card__callback">позвонить</a>
    </div>
</li>