.footer {
	background: #323232;
	color: #fff;
	padding: rem(50) 0;
	// .footer__container
	&__container {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
	}
	// .footer__main
	&__main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .footer__logo
	&__logo {
	}
	// .footer__privacy
	&__privacy {
		margin-top: 1.25rem;
		color: #aaa;
		font-size: 0.875rem;
		font-weight: 500;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .footer__menu
	&__menu {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		font-size: 1.25rem;
		gap: 2rem;
	}
	// .footer__menu-column
	&__menu-column {
	}
	// .footer__menu-caption
	&__menu-caption {
		font-weight: 500;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #007adc;
			}
		}
	}
	// .footer__menu-list
	&__menu-list {
		margin-top: 2rem;
		color: #aaa;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 0.75rem;
		font-size: 1.125rem;
		& a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
				}
			}
		}
	}
	// .footer__side
	&__side {
	}
	// .footer__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		text-align: right;
		font-size: 1.25rem;
	}
	// .footer__contacts-item
	&__contacts-item {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		&::before {
			color: #007adc;
			font-size: 1.5rem;
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		& a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: #007adc;
				}
			}
		}
	}
	// .footer__socials
	&__socials {
		margin-top: 2rem;
	}
	// .footer__social
	&__social {
	}
	// .footer__btn
	&__btn {
		margin-top: 2rem;
		padding-inline: 1.34rem;
	}
}
