.footer {
	background: #323232;
	color: #fff;
	padding: rem(30) 0;
	@media (min-width: $md4) {
		padding: rem(50) 0;
	}
	// .footer__container
	&__container {
		display: flex;
		gap: 1rem;
		row-gap: 1.25rem;
		flex-direction: column;
		padding: 0 2rem;
		@media (min-width: $md4) {
			justify-content: space-between;
			flex-direction: row;
			flex-wrap: wrap;
		}
		@media (min-width: $md2) {
			flex-wrap: nowrap;
		}
	}
	// .footer__main
	&__main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .footer__logo
	&__logo {
	}
	// .footer__privacy
	&__privacy {
		margin-top: 1.25rem;
		color: #aaa;
		font-size: 0.875rem;
		font-weight: 500;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fff;
			}
		}
	}
	// .footer__menu
	&__menu {
		display: grid;
		gap: 2rem;
		order: 1;
		flex: 0 0 100%;
		grid-template-columns: repeat(2, 1fr);
		font-size: 1.125rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md2) {
			flex: 0 1 auto;
			order: 0;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .footer__menu-column
	&__menu-column {
	}
	// .footer__menu-caption
	&__menu-caption {
		font-weight: 500;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #007adc;
			}
		}
	}
	// .footer__menu-list
	&__menu-list {
		margin-top: 2rem;
		color: #aaa;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 1rem;
		gap: 0.6rem;
		@media (min-width: $md4) {
			gap: 0.75rem;
			font-size: 1.125rem;
		}
		& a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
				}
			}
		}
	}
	// .footer__side
	&__side {
		@media (min-width: $md4) {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
	}
	// .footer__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 1rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
			align-items: flex-end;
			text-align: right;
		}
	}
	// .footer__contacts-item
	&__contacts-item {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		&::before {
			color: #007adc;
			font-size: 1.5rem;
		}
		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		& a {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: #007adc;
				}
			}
		}
	}
	// .footer__socials
	&__socials {
		margin-top: 2rem;
	}
	// .footer__social
	&__social {
	}
	// .footer__btn
	&__btn {
		margin-top: 2rem;
		padding-inline: 1.34rem;
		width: 100%;
		@media (min-width: $md4) {
			width: auto;
		}
	}
}
