.form {
	// .form__label
	&__label {
		color: #656565;
		font-size: 0.8125rem;
		line-height: 130%;
		letter-spacing: -0.01219rem;
		margin-bottom: 0.5rem;
	}
	// .form__input
	&__input {
		text-overflow: ellipsis;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		border-radius: 0.5rem;
		border: 1px solid #e3e7ef;
		background: #fff;
		color: #1d1d1b;
		line-height: 150%;
		padding: 0.75rem 1.25rem;
		caret-color: $accent;
		font-size: 0.875rem;
		line-height: 140%;
		letter-spacing: -0.01313rem;

		&:hover,
		&:focus {
			border-color: $accent;
		}
		&::placeholder {
			color: #1d1d1b;
			opacity: 0.6;
		}
		&:disabled {
			background: #dfe0e1;
			border-color: #dfe0e1;
		}
	}
	// .form__textarea
	&__textarea {
		text-overflow: ellipsis;
		resize: none;
		transition: border-color 0.3s ease 0s, color 0.3s ease 0s;
		width: 100%;
		border-radius: 0.5rem;
		border: 1px solid #e3e7ef;
		background: #fff;
		color: #1d1d1b;
		line-height: 150%;
		height: rem(93);
		padding: 0.75rem 1.25rem;
		caret-color: $accent;
		font-size: 0.875rem;
		line-height: 140%;
		letter-spacing: -0.01313rem;

		&:hover,
		&:focus {
			border-color: $accent;
		}
		&::placeholder {
			color: #1d1d1b;
			opacity: 0.6;
		}
		&:disabled {
			background: #dfe0e1;
			border-color: #dfe0e1;
		}
	}
	// .form__field
	&__field {
		position: relative;
		.toggler {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 1.25rem;
		}
	}
	// .form__btn
	&__btn {
	}
	// .form__submit
	&__submit {
		margin-top: 1.5rem;
	}
}

.btn {
	position: relative;
	z-index: 1;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease 0s;
	user-select: none;
	white-space: nowrap;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25rem;
	font-weight: 600;
	padding: 1.25rem 2rem;
	border-radius: 0.75rem;
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		border-radius: 0.75rem;
		opacity: 0;
		transition: opacity 0.3s ease 0s;
		pointer-events: none;
	}
	&.btn-primary {
		background: linear-gradient(95deg, #747579 0%, #454952 30.63%);
		color: #fff;
		&::after {
			background: linear-gradient(275deg, #747579 0%, #454952 30.63%);
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}
	&.btn-primary-outline {
		border: rem(2) solid #747579;
		color: #454952;
		@media (any-hover: hover) {
			&:hover {
				background-color: #747579;
				color: #fff;
			}
		}
	}
	&.btn-secondary {
		background: linear-gradient(95deg, #429fea 0%, #007adc 30.63%);
		color: #fff;
		&::after {
			background: linear-gradient(275deg, #429fea 0%, #007adc 30.63%);
		}
		@media (any-hover: hover) {
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}
	&.btn-white {
		border-radius: 0.75rem;
		background: #fff;
		color: #919191;
		box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
		@media (any-hover: hover) {
			&:hover {
				color: #30475d;
			}
		}
	}
	&.btn-sm {
		font-size: 1rem;
		padding: 0.6rem 1.65rem;
	}
	&.btn-md {
		padding: 1.25rem;
	}
	&:disabled,
	&[aria-disabled="true"] {
		cursor: default;
		color: #fff;
		background: #dfe0e1;
		pointer-events: none;
	}
	@media (any-hover: hover) {
		&:hover {
			&::after {
				opacity: 0;
			}
		}
	}
}

// .toggler {
// 	display: flex;
// 	align-items: center;
// 	gap: 0.75rem;
// 	// .toggler__input
// 	&__input {
// 		&:checked {
// 			& + .toggler__btn {
// 				background: $accent;
// 				&::before {
// 					left: rem(14);
// 				}
// 			}
// 		}
// 	}
// 	// .toggler__btn
// 	&__btn {
// 		position: relative;
// 		width: rem(28);
// 		height: rem(15);
// 		flex-shrink: 0;
// 		background: #a0bcd0;
// 		border-radius: 3.375rem;
// 		display: block;
// 		cursor: pointer;
// 		transition: background-color 0.3s ease 0s;
// 		&::before {
// 			content: "";
// 			position: absolute;
// 			top: rem(2);
// 			left: rem(2);
// 			width: rem(11);
// 			height: rem(11);
// 			border-radius: 50%;
// 			background: #fff;
// 			transition: left 0.3s ease 0s;
// 		}
// 	}
// 	// .toggler__desc
// 	&__desc {
// 		color: #43596b;
// 		font-size: 0.8125rem;
// 		line-height: 1.3125rem;
// 		letter-spacing: -0.01219rem;
// 		& a {
// 			transition: color 0.3s ease 0s;
// 			color: $accent;
// 			@media (any-hover: hover) {
// 				&:hover {
// 					text-decoration: underline;
// 					color: darken($color: $accent, $amount: 10);
// 				}
// 			}
// 		}
// 	}
// }
