.header {
	position: sticky;
	top: 0;
	z-index: 10;

	padding: 0.9rem 0;
	@media (min-width: $md5) {
		padding: 1rem 0;
	}
	transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
	&.scroll {
		background: #fff;
		box-shadow: 0 rem(11) rem(48.2) rem(0) rgba(208, 212, 216, 0.44), 0 0 rem(20.9) rem(0) rgba(255, 255, 255, 0.11) inset;
	}
	// .header__container
	&__container {
		display: flex;
		align-items: center;
	}
	// .header__logo
	&__logo {
		max-width: 4.5rem;
		@media (min-width: $md3) {
			max-width: 7.125rem;
			margin-right: 2.9rem;
		}
	}
	// .header__menu
	&__menu {
	}
	// .header__menu-btn
	&__menu-btn {
	}
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(9, 15, 33, 0.9);
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	&.active {
		opacity: 1;
		visibility: visible;
		.menu__content {
			transform: none;
		}
	}
	@media (min-width: $md4) {
		position: static;
		top: auto;
		left: auto;
		width: auto;
		height: auto;
		padding: 0;
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		transition: none;
		opacity: 1;
		visibility: visible;
		background: none;
	}
	&__content {
		display: flex;
		flex-direction: column;
		transition: transform 0.3s ease 0s;
		transform: translateX(100%);
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		width: 69%;
		margin-left: auto;
		border-radius: 0.75rem 0rem 0rem 0rem;
		padding: 5.56rem 2.19rem 0.62rem;
		@media (min-width: $md4) {
			background: none;
			display: contents;
			transition: none;
			transform: none;
			overflow-y: visible;
			overflow-x: visible;
			border-radius: 0;
		}
	}
	&__copy {
		margin-top: auto;
		font-size: 0.75rem;
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .menu__body
	&__body {
		@media (min-width: $md4) {
			flex: 1 1 auto;
			padding: 0 3.75rem;
		}
	}
	// .menu__list
	&__list {
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-weight: 600;
		font-family: $font-geologica;
		@media (min-width: $md4) {
			font-weight: 500;
			gap: 1.5rem;
			row-gap: 0.5rem;

			flex-wrap: wrap;
			justify-content: space-between;
			flex-direction: row;
		}
		@media (min-width: $md3) {
			gap: 2.56rem;
			gap: 0;
		}
	}
	// .menu__item
	&__item {
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				.menu__btn {
					color: $accent;
					&::before {
						transform: rotate(180deg);
					}
				}
				.submenu {
					opacity: 1;
					visibility: visible;
				}
			}
		}
		&:not(:last-child) {
			margin-bottom: 0.94rem;
			@media (min-width: $md4) {
				margin-bottom: 0;
			}
			&:first-child {
				margin-bottom: 1.87rem;
				@media (min-width: $md4) {
					margin-bottom: 0;
				}
			}
		}
		&:last-child {
			.submenu {
				border-bottom: 0;
				padding-bottom: 0rem;
				@media (min-width: $md4) {
					padding-bottom: 1rem;
				}
			}
		}
	}
	// .menu__link
	&__link {
		font-size: 0.9375rem;
		font-weight: 500;
		line-height: 133.333%;
		display: flex;
		gap: 0.25rem;
		align-items: center;
		transition: color 0.3s ease 0s;
		&::before {
			order: 1;
			width: 1rem;
			height: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 0.5em;
			transition: transform 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .menu__btn
	&__btn {
		@extend .menu__link;

		text-align: left;
		display: none;
		@media (min-width: $md4) {
			display: flex;
		}
		@media (hover: none) {
			&.open {
				color: $accent;
				&::before {
					transform: rotate(180deg);
				}
			}
		}
	}
	// .menu__lang
	&__lang {
		margin: 1.87rem em(0);
		@media (min-width: $md4) {
			position: relative;
			margin: 0;
		}
	}
	// .menu__lang-btn
	&__lang-btn {
		border-radius: 0.375rem;
		background: #fff;
		padding: 0.56rem 0.5rem;
		font-size: 0.9375rem;
		font-weight: 500;
		line-height: 133.333%;
		display: flex;
		align-items: center;

		.menu__lang-current {
			order: -1;
		}
		&::before {
			display: none;
			@media (min-width: $md4) {
				display: block;
				font-size: 0.45em;
				margin-left: 0.12rem;
				transition: transform 0.3s ease 0s;
			}
		}
		&.open {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
	&__lang-current {
		display: block;
		min-width: 2rem;
		text-align: center;
	}
	&__lang-flag {
		margin-left: 0.62rem;
		width: 1.4375rem;
		height: 1.125rem;
		flex-shrink: 0;
		display: block;
		border-radius: 0.125rem;
		border: 0.6px solid #eaeaea;
		& img {
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
		}
	}
	// .menu__lang-content
	&__lang-content {
		color: #fff;
		background: #232c4b;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
		&.open {
			opacity: 1;
			visibility: visible;
		}
		padding: 5.5rem 0.94rem 2rem;
		@media (min-width: $md4) {
			background: #0b1534;
			padding: 0.94rem;
			border-radius: 0.75rem;
			opacity: 1;
			visibility: visible;
			transition: none;
			position: absolute;
			top: calc(100% + 0.38rem);
			right: 0;
			width: fit-content;
			height: auto;

			&:not(.open) {
				display: none;
			}
		}
	}
	&__lang-logo {
		position: absolute;
		top: 1.25rem;
		left: 0.94rem;
		width: 4.367rem;
		@media (min-width: $md4) {
			display: none;
		}
	}
	&__lang-caption {
		margin-bottom: 1.63rem;
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .menu__lang-list
	&__lang-list {
	}
	// .menu__lang-item
	&__lang-item {
		display: flex;
		align-items: center;
		gap: 0.75rem;
		border-radius: 0.75rem;
		background: #0b1943;
		padding: 0.38rem 0.62rem;
		border-radius: 0.75rem;
		min-width: 11.875rem;
		cursor: pointer;
		transition: background-color 0.3s ease 0s;
		& img {
			flex-shrink: 0;
			min-width: 1.25rem;
			width: 1.25rem;
			height: 1.25rem;
			border-radius: 50%;
			object-fit: cover;
		}
		&.selected {
			&::before {
				order: 1;
				margin-left: auto;
				color: #298ff3;
				font-size: 0.6875rem;
			}
		}
		&:not(:last-child) {
			margin-bottom: 0.38rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background: lighten($color: #0b1943, $amount: 10);
			}
		}
	}
	// .menu__lang-body
	&__lang-body {
	}
	// .menu__lang-value
	&__lang-value {
		font-size: 0.875rem;
		font-weight: 500;
	}
	// .menu__lang-translate
	&__lang-translate {
		color: #77829b;
		font-size: 0.75rem;
	}
}

.submenu {
	display: flex;
	flex-direction: column;
	padding: 0.94rem 0;
	border-top: 1px solid rgba(99, 99, 99, 0.5);
	border-bottom: 1px solid rgba(99, 99, 99, 0.5);
	@media (min-width: $md4) {
		border-top: 0;
		border-bottom: 0;
		position: absolute;
		z-index: 1;
		top: 100%;
		left: 0;
		color: #fff;
		border-radius: 0.75rem;
		font-size: 0.85rem;
		padding: 2rem 1rem 1rem;
		width: fit-content;
		opacity: 0;
		visibility: hidden;
		&::before {
			content: '';
			position: absolute;
			top: 1rem;
			left: 0;
			width: 100%;
			height: calc(100% - 1rem);
			background: #0b1534;
			z-index: -1;
			border-radius: 0.5rem;
		}
	}
	@media (hover: none) {
		&.open {
			opacity: 1;
			visibility: visible;
		}
	}
	// .submenu__item
	&__item {
		white-space: nowrap;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	// .submenu__link
	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	justify-content: center;
	padding: 0;

	min-width: rem(41);
	height: rem(41);
	z-index: 11;
	margin: em(0) em(0) em(0) auto;
	@media (min-width: $md4) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(2.5) rem(4);
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: '';
			display: block;
			height: rem(3);
			width: rem(32);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
	}
	&.active {
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(8));
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-8));
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
