.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding-right: var(--lock-padding, 0px);
	&.scroll {
		.header__top {
			height: 0;
			padding-top: 0;
			padding-bottom: 0;
			opacity: 0;
			visibility: hidden;
		}
		.menu__phone {
			@media (max-width: $md4) {
				display: flex;
			}
		}
		.menu__list {
			@media (max-width: $md4) {
				flex: 0 1 auto;
			}
		}
	}
	&__wrapper {
		padding: rem(20) 0 0 0;
		@media (min-width: $md4) {
			padding: 1.56rem 0 0 0;
		}
	}
	// .header__container
	&__container {
	}
	// .header__top
	&__top {
		display: flex;
		transition: all 0.15s ease;
		padding: em(0) em(0) 0.75rem em(0);
		@media (min-width: $md4) {
			padding: 0.07rem 2rem 1.25rem;
		}
	}
	// .header__logo
	&__logo {
		margin-right: 2rem;
		max-width: 8.8125rem;
		@media (min-width: $md4) {
			max-width: 100%;
		}
	}
	// .header__contacts
	&__contacts {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		margin-left: auto;
		@media (min-width: $md4) {
			margin-left: 0;
		}
	}
	// .header__contact
	&__contact {
		display: flex;
		align-items: center;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		font-weight: 500;
		gap: 0.75rem;
		&::before {
			color: #007adc;
			font-size: 1.5rem;
		}
		&:is(a) {
			font-weight: 600;
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: #007adc;
				}
			}
		}
		& span {
			@media (max-width: $md6) {
				display: none;
			}
		}
	}
	// .header__search
	&__search {
		@media (max-width: $md4) {
			display: contents;
		}
		@media (min-width: $md4) {
			margin-left: auto;
		}
	}
	// .header__menu
	&__menu {
	}
}

.search {
	@media (min-width: $md4) {
		position: relative;
	}
	&.active {
		.search__form {
			opacity: 1;
			visibility: visible;
			@media (min-width: $md4) {
				width: rem(546);
			}
		}
	}
	// .search__toggler
	&__toggler {
		width: 2.5625rem;
		height: 2.5625rem;
		flex-shrink: 0;
		background: linear-gradient(40deg, #51aaf2 0%, #007adc 100%);
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		color: #fff;
		font-size: 1.75rem;

		@media (max-width: $md4) {
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			border: 0;
			padding: 0;
			white-space: nowrap;
			clip-path: inset(100%);
			clip: rect(0 0 0 0);
			overflow: hidden;
		}
	}
	// .search__form
	&__form {
		position: absolute;
		right: 0;
		left: 0;
		display: flex;
		border-radius: 0.75rem;
		background: #fff;
		opacity: 0;
		visibility: hidden;
		top: calc(100% + 0.75rem);
		@media (min-width: $md4) {
			width: 0;
			top: 0;
			left: auto;
			transition: width 0.3s ease;
		}
	}
	// .search__form-input
	&__form-input {
		width: 100%;
		padding: rem(9) rem(16);
		border-radius: 0.75rem;
		background: #fff;
		text-overflow: ellipsis;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	&__form-reset {
		margin-right: 0.75rem;
		display: inline-block;
		color: #919191;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .search__form-btn
	&__form-btn {
		background: $accent;
		color: #fff;
		padding: 0.56rem 1rem;
		border-radius: 0.75rem;
		background: #007adc;
		margin: rem(-1);
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
	}
	// .search__bar
	&__bar {
		position: absolute;
		top: calc(100% + 0.75rem);
		right: 0;
		left: 0;
		background: #fff;
		z-index: 2;
		border-radius: 0.75rem;
		box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
		overflow: hidden;
	}
	// .search__bar-list
	&__bar-list {
		max-height: 18.5rem;
		overflow-y: auto;
		padding: 1.25rem 1rem;
		display: flex;
		flex-direction: column;
	}
	// .search__bar-item
	&__bar-item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		@media (min-width: $md4) {
			font-size: 1.25rem;
		}
		&::before {
			@extend %ic, .icon-search;
			color: #efefef;
			font-size: 1.5rem;
		}
		&:not(:last-child) {
			margin-bottom: 1.38rem;
		}
	}
	// .search__bar-link
	&__bar-link {
		.highlighted {
			font-weight: 600;
		}
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.menu {
	position: relative;
	background: #fff;
	border-radius: 0.75rem;
	box-shadow: 0 rem(4) rem(12) 0 rgba(0, 0, 0, 0.07);
	display: flex;
	align-items: center;
	min-height: rem(60);
	padding: 0.575rem 0.575rem;
	gap: 0.5rem;
	@media (min-width: $md6) {
		gap: 1.5rem;
		justify-content: space-between;
		padding: 0.575rem 1.5rem;
	}
	@media (min-width: $md2) {
		padding: 1.375rem 2rem;
	}
	.search {
		margin-left: 0;
	}
	// .menu__list
	&__list {
		display: flex;
		font-weight: 500;
		font-size: 1rem;
		gap: 0.5rem;
		@media (min-width: $md6) {
			justify-content: space-between;
			gap: 1.25rem;
			flex: 0 1 66%;
		}
		@media (min-width: $md4) {
			flex: 1 1 auto;
			justify-content: space-between;
		}
		@media (min-width: $md2) {
			font-size: 1.25rem;
		}
		@media (min-width: $md1) {
			font-size: 1.5rem;
			padding-right: 5rem;
		}
	}
	// .menu__item
	&__item {
		position: relative;
		z-index: 1;
		&:has(.submenu.open) {
			z-index: 2;

			&::before {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: calc(100% + 1rem);
				@media (min-width: $md6) {
					width: calc(100% + 2rem);
					transform: translate(calc(-50% - 0.5rem), -50%);
				}
				@media (min-width: $md5) {
					transform: translate(-50%, -50%);
					width: calc(100% + 3rem);
				}
				@media (min-width: $md1) {
					width: calc(100% + 5rem);
				}
				height: calc(100% + 2rem);
				border-radius: 0.75rem 0.75rem 0rem 0rem;
				background: #fff;
				z-index: -1;
			}
			&::after {
				content: "";
				position: absolute;
				bottom: -1.15rem;
				left: calc(100% + 0.45rem);
				@media (min-width: $md5) {
					left: calc(100% + 1.45rem);
				}
				@media (min-width: $md1) {
					left: calc(100% + 2.45rem);
				}
				width: 1.5rem;
				height: 1.5rem;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='23' viewBox='0 0 24 23' fill='none'%3E%3Cmask id='mask0_2010_21' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='23'%3E%3Crect width='24' height='23' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2010_21)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-162 -39C-168.627 -39 -174 -33.6274 -174 -27V-0.999999C-174 12.2548 -163.255 23 -150 23H0H110.5C110.776 23 111 22.7761 111 22.5C111 22.2239 110.776 22 110.5 22H24C10.7452 22 0 11.2548 0 -2V-27C0 -33.6274 -5.37257 -39 -12 -39H-162Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
			}
			filter: drop-shadow(rem(4) rem(4) rem(12) rgba(0, 0, 0, 0.14));
		}
		&.initial {
			order: -1;
			& .menu__link {
				color: $accent;
				font-weight: 600;
			}
		}
	}
	// .menu__item-mobile
	&__item-mobile {
		@media (max-width: $md4) {
			& > .submenu {
				transform: none;
				width: 12.5rem;
				overflow-x: hidden;
				.menu__item {
					font-size: 1rem;
					&:not(:last-child) {
						margin-bottom: 0.75rem;
						padding-bottom: 0.75rem;
						border-bottom: rem(1) solid #efefef;
					}
				}
				& .menu__item {
					filter: none !important;
					.submenu {
						margin-top: 1rem;
						position: static;
						top: auto;
						left: auto;
						width: 100%;
						padding: 0;
						font-size: 1rem;
						.submenu__item {
							&:not(:last-child) {
								margin-bottom: 0.75rem;
								padding-bottom: 0;
								border-bottom: 0;
							}
						}
					}
				}
				.menu__btn {
					width: 100%;
					&::before {
						margin-left: auto;
					}
				}
			}
			& .subsubmenu__close {
				display: none;
			}
		}
		@media (min-width: $md4) {
			display: contents;

			& > .submenu {
				display: contents;
				& .submenu__list {
					display: contents;
				}
				.submenu__close {
					display: none !important;
				}
			}
			& .submenu.open {
				.submenu__close {
					display: block !important;
				}
			}
			& > .menu__btn {
				display: none !important;
			}
			&::before {
				display: none;
			}
			&::after {
				display: none;
			}
		}
	}
	// .menu__link
	&__link {
		font-weight: 500;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .menu__btn
	&__btn {
		@extend .menu__link;
		&.icon-chevron {
			display: flex;
			align-items: center;
			gap: 0.75rem;
			&::before {
				order: 1;
				font-size: 0.35em;
				@media (max-width: $md4) {
					font-size: 0.5em;
				}
				transition: transform 0.3s ease;
			}
		}
		&.active {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
	// .menu__socials
	&__socials {
		margin-left: auto;
		@media (max-width: $md3) {
			display: none;
		}
	}
	// .menu__social
	&__social {
	}
	// .menu__search-toggler
	&__search-toggler {
		font-size: 1rem;
		font-weight: 500;
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .menu__phone
	&__phone {
		margin-left: auto;
		border-radius: 50%;
		color: #fff;
		width: 2.5625rem;
		height: 2.5625rem;
		flex-shrink: 0;
		background: linear-gradient(122deg, #51aaf2 15.48%, #007adc 24.09%);
		justify-content: center;
		align-items: center;
		font-size: 1.5rem;
		display: none;
		@media (min-width: $md4) {
			display: none;
		}
	}
}

.submenu {
	position: absolute;
	top: calc(100% + 1rem);
	border-radius: 0rem 0.75rem 0.75rem 0.75rem;
	background: #fff;
	display: none;
	overflow-y: auto;
	padding: 1.875rem 1.125rem 1rem;
	width: calc(100vw - 2.5rem);
	left: -0.5rem;
	max-height: calc(100dvh - $header);
	@media (min-width: $md6) {
		width: calc(100vw - 1.5rem);
		left: -1.5rem;
	}
	@media (min-width: $md5) {
		padding: 2.5rem 1.62rem 1.37rem;
		width: rem(516);
	}
	@media (min-width: $md4) {
		left: -1.5rem;
		width: auto;
	}
	@media (min-width: $md3) {
		overflow-y: visible;
	}
	@media (min-width: $md1) {
		left: -2.5rem;
	}
	&.open {
		display: block;
	}
	&:has(.subsubmenu.open) {
		@media (min-width: $md3) {
			border-radius: 0 0 0 0.75rem;
		}
		.submenu__close {
			display: none;
		}
	}

	// .submenu__legend
	&__legend {
		margin-bottom: 2rem;
		gap: 0.5rem;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .submenu__legend-item
	&__legend-item {
		display: flex;
		align-items: center;
		color: #919191;
		font-size: 1rem;
	}
	// .submenu__close
	&__close {
		position: absolute;
		top: 0.89rem;
		right: 0.75rem;
		font-size: 0.75rem;
		color: #919191;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .submenu__list
	&__list {
		@media (min-width: $md5) {
			min-width: 14.75rem;
			white-space: nowrap;
		}
	}
	// .submenu__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 0.875rem;
			padding-bottom: 0.875rem;
			@media (min-width: $md2) {
				margin-bottom: 1.1rem;
				padding-bottom: 1.1rem;
			}
			border-bottom: rem(1) solid #efefef;
		}
	}
	// .submenu__link
	&__link {
		font-size: 1rem;
		@media (min-width: $md2) {
			font-size: 1.25rem;
		}
		font-weight: 600;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .submenu__btn
	&__btn {
		@extend .submenu__link;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		&::before {
			order: 1;
			font-size: 0.75em;
			transition: transform 0.3s ease;
		}
		&.active {
			color: $accent;
			&::before {
				transform: rotate(180deg);
			}
		}
	}
	// .submenu__footer
	&__footer {
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			margin-top: 2.6rem;
		}
	}
	// .submenu__footer-text
	&__footer-text {
		color: #aaa;
		@media (min-width: $md5) {
			font-size: 1.125rem;
		}
	}
	// .submenu__search
	&__search {
		font-size: 1rem;
		margin-top: 1rem;
		@media (min-width: $md5) {
			margin-top: 1.25rem;
			font-size: 1.125rem;
		}
		color: #007adc;
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: 0.75rem;
		&::before {
			font-size: 1.4375rem;
		}
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $text;
			}
		}
	}
}

.subsubmenu {
	display: none;

	margin-top: 0.75rem;
	width: 100%;
	@media (min-width: $md3) {
		margin-top: 0;
		background: #fff;
		border-radius: 0 0.75rem 0.75rem 0;
		padding: 2.5rem 1rem 1.37rem;
		position: absolute;
		left: 100%;
		top: 0;
		bottom: 0;
		min-width: 30rem;
	}
	@media (min-width: $md2) {
		min-width: 42rem;
	}
	&.open {
		display: block;
	}
	&__close {
		position: absolute;
		top: 0.89rem;
		right: 0.75rem;
		font-size: 0.75rem;
		color: #919191;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $red;
			}
		}
	}
	// .subsubmenu__legend
	&__legend {
		display: none;
		@media (min-width: $md4) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .subsubmenu__legend-item
	&__legend-item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		color: #919191;
		@media (min-width: $md2) {
			font-size: 1.125rem;
		}
	}
	&__body {
		@media (min-width: $md3) {
			overflow-x: hidden;
			overflow-y: auto;
			max-height: 100%;
		}
	}
	// .subsubmenu__list
	&__list {
		display: grid;
		gap: 1.25rem;
		margin-top: 0.75rem;
		@media (max-width: $md4) {
			overflow-y: auto;
			padding-right: 0.62rem;
			max-height: calc(100dvh - $header - 28rem);
		}
		@media (min-width: $md4) {
			&:not(:first-child) {
				margin-top: 2rem;
			}
			align-items: center;
			gap: 2.56rem;
			row-gap: 2.4rem;
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	// .subsubmenu__item
	&__item {
	}
	// .subsubmenu__link
	&__link {
		@media (min-width: $md1) {
			font-size: 1.125rem;
		}
		font-weight: 600;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		justify-content: space-between;
		transition: color 0.3s ease;
		white-space: normal;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
		&.icon-right {
			color: $accent;
			&::before {
				order: 1;
			}
			@media (any-hover: hover) {
				&:hover {
					color: $text;
				}
			}
		}
		.subsubmenu__icon {
			margin-left: auto;
			& + .subsubmenu__icon {
				margin-left: 0.25rem;
			}
		}
	}
	// .subsubmenu__icon
	&__icon {
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 50%;
		background: #fff;
		box-shadow: 0 rem(4) rem(12) rgba(0, 0, 0, 0.07);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
	}
}
